/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }
  .about-header {
    background-color: #61414100;
    color: #080808;
    padding: 20px;
    text-align: center;
    margin : 20px auto;
    border-radius: 10px;
    width: 70%;
  }
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Content styles */
  .content {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .team-card {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 31%;
    margin: 10px;
  }
  
  .team-card p {
    color: #555;
    font-size: 16px;
  }
  
  .content h2 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
  }
  
  .content p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    text-align: justify;
  }
  
  /* Footer styles */
  footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    .container {
      padding: 10px;
    }
    
    .team-card {
      width: 100%;
      margin: 10px 0;
    }
  }
  @media screen and (max-width: 480px) {
    .content {
      padding: 10px;
    }
    
    .team-card {
      padding: 10px;
    }
  }
  
  