  .content-header {
    background-color: #61414100;
    color: #080808;
    padding: 20px;
    text-align: center;
    margin : 20px auto;
    border-radius: 10px;
    width: 70%;

  }
  .content-header p {
    color: #555;
    font-size: 20px;
  }
  .content{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }
  .contact-info {
    margin-bottom: 30px;
  }
  
  .contact-info h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .contact-info p {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .contact-form {
    margin-bottom: 30px;
  }
  
  .contact-form h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
  }
  
  .contact-form textarea {
    height: 150px;
  }
  
  .contact-form button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button[type="submit"]:hover {
    background-color: #555;
  }
  