body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .head2 {
    background-color: #514343;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 20px;
    padding: 20px;
  }
  
  .item {
    border: 1px solid #ccc;
    margin: auto;
    padding: 10px;
    text-align: center;
  }
  
  .item img {
    width: 100%;
    max-height: 200px; /* Adjust the height as needed */
    object-fit: cover;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  